@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* تنظیم فونت پیش‌فرض روی وزیرمتن */
  --font-sans: var(--font-vazirmatn);
}

/* حذف حالت دارک (اختیاری، در صورت نیاز می‌توانید نگه دارید) */
/* @media (prefers-color-scheme: dark) { ... } */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-vazirmatn), sans-serif; /* fallback */
}